<div class="col" draggable="true" >
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    X
  </button>
  <img src="../../../assets/folder-icon.jpg" class="foldImg" alt=""> {{folder.name}}
  <button class=" btn" (click)="toggle = !toggle">add</button>
  <div *ngIf="!toggle">
    <p>Добавить новую папку:</p>
    <input [(ngModel)]="newFoldIn" type="text">
    <button class="btn" (click)="addChildFolder(folder)">Add</button>
    <p>или, Добавить новый файл:</p>
    <input [(ngModel)]="fileIn" type="text">
    <button (click)="addFileInFolder(folder)" class="btn">Add</button>
  </div>
  <!-- Button trigger modal -->
  <span *ngIf="toggle2">
    <button (click)="getChildFold(folder)" type="button" class="btn btn-outline-dark">+</button>
  </span>
  <span *ngIf="!toggle2">
    <button (click)="getChildFold(folder)" type="button" class="btn btn-outline-dark">-</button>

    <app-folder [folderName]="folder" *ngFor="let folder of folders">

    </app-folder>
    
    <app-file [fileName]="file" *ngFor="let file of files">
      
    </app-file>
  </span>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Вы уверены в удаление?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Если вы удалите папку,то и удалите все в ней находящиеся
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть сообщение</button>
          <button (click)="deleteCurFolder(folder)" type="button" class="btn btn-primary">Удалить папку</button>
        </div>
      </div>
    </div>
  </div>
</div>